*,
::before ::after {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.article-container {
  display: flex;
}

img {
  width: 300px;
}
