*,
::before ::after {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50px;
}

:root {
  --main-color: #af6896;
  --hover-color: #7b6a75;
  --secundary-color: #403c3e;
}

body {
  padding: 0 50px;
  padding-top: 100px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  padding: 0 40px;
}
li:hover {
  color: var(--hover-color);
}

h1 {
  color: var(--main-color);
}

main {
  width: 100%;
  color: var(--secundary-color);
}

.main-article {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

img {
  width: 300px;
}
